@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --rtc-primary-color-decoration: #9a00ff;
  --rtc-grey: #53535b;
  --rtc-secondary-color-decoration: #9a00ff1a;
}

body {
 overflow-y: scroll;
  
}

header {
  width: 100%;
  height: auto;
  margin: 1% 0 3% 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 3;
 
}

.headerimg {
  width: 20vw;
  height: 100%;
  overflow: visible;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
}
.headerimg img {
  height: 50px;
  width: auto;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

header ul {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
  list-style-type: none;
  
}
header li a {
  min-width: 160px;
  text-decoration: none;
  color: var(--rtc-grey);
}
header a:hover {
  color: black;
  font-size: 18px;
  transition: 400ms;
}
.headerlogin {
  height: 100%;
  width: 20vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
 
}
.headerlogin button {
  min-height: 45px;
  font-size: 16px;
  font-family: 'DM SANS', sans-serif;
  height: 50%;
  width: 40%;
}
#signin {
  color: #6D38CA;
  background-color: transparent;
  border: transparent;
}
#signin:hover{
  cursor: pointer;
}
#signup {
  color: var(--rtc-primary-color-decoration);
  background-color: var(--rtc-secondary-color-decoration);
  border: transparent;
  border-radius: 7px;
}
#signup:hover{
  background-color: var(--rtc-primary-color-decoration);
  color: white;
  transition: 400ms;
  cursor: pointer;
}
#menu{
  width: 24px;
  height: 24px;
  display: none;
}

@media (max-width: 1000px) {
  
  header > nav, .headerlogin {
    display: none;
  }
  .headerimg{width: auto;}
  #menu {
    display: flex;
    align-items: center;
  }
  header {
    height: auto;
    width: auto;
    justify-content: space-between;
   padding: 15px;
  }
 
  
}
main {
  width: 100vw;
  height: auto;
  margin: 0 0 3% 0;
  
}

.firs_info {
  width: 100;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.firs_info > h1 {
  word-break:break-word;
  font-size: 60px;
  font-family: "DM Sans", sans-serif;
  text-align: center;
  margin-bottom: 30px;
}

.firs_info > h1 > span {
  color: var(--rtc-primary-color-decoration);
}

.firs_info > p {
  height: auto;
  width: 50%;
  word-break:break-word;
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
  line-height: 30px;
}

@media (max-width: 767px) {
  .firs_info{margin: 0 4% 0 4%}
  .firs_info > h1 {
    min-width: 95%;
    font-size: 38px;
  }
  .firs_info > p {
    min-width: 95%;
    text-align: justify;
  }
  .buttons{
    flex-direction: column;
    align-items: center;
  }
  .buttons button {
    min-width: 100%;
  }  
}

@media (min-width:768px){
  .buttons button {
    min-width: 400px;
  }
}

.buttons {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}



.buttons button {
  width: 400px;
  min-height: 45px;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 60%;
  width: 25%;
  padding: 5px;
  border-radius: 10px;
  color: var(--rtc-primary-color-decoration);
}

#account {
  background-color: #9a00ff1a;
  border: transparent;
}
#account:hover {
  cursor: pointer;
  background-color: var(--rtc-primary-color-decoration);
  color: white;
  transition: 400ms;
}
#download {
  border: 1px solid var(--rtc-primary-color-decoration);
  background-color: white;
}
#download:hover {
  cursor: pointer;
  background-color: var(--rtc-secondary-color-decoration);
  border: transparent;
  transition: 400ms;
}

.backedby {
  width: 100%;
  height: 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
  line-height: 24px;
}

.backedby > span {
  font-size: 12px;
  color: var(--rtc-grey);
}

.backedby > img {
  width: 100%;
  height: 20px;
}

.main_image {
  width: 100vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2% 0 2% 0;
}

.main_image .image_video {
  max-width: 100%;
  max-height: 100%;
}

.second_info {
  width: 100%;
  height: auto;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 1%;
  gap: 40px;
}

.second_info article {
  width: 400px;
  border: 2px solid var(--rtc-secondary-color-decoration);
  border-radius: 20px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--rtc-grey);
  padding: 32px;
}

@media (max-width: 837.78px) {
  .second_info article {
    min-width: 95%;
  }
}

.second_info h3 {
  width: 235px;
  font-size: 24px;
  margin-bottom: 15px;
  color: black;
  font-family: "DM Sans", sans-serif;
}

article > div {
  display: flex;
  justify-content: space-between;
}

article div > span {
  width: 56px;
  height: 18px;
  font-size: 12px;
  color: var(--rtc-primary-color-decoration);
  background-color: var(--rtc-secondary-color-decoration);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.second_article p span {
  display: flex;
  margin-top: 5%;
}

footer{
  width: 100%;
  height: auto;
  background-color: #EEEEEE;
  color: var(--rtc-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.description {
  min-width: 95%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer_article,.footer_info {
  height: 100%;
  width: 40%;
  padding: 64px 16px 16px;
}
@media (min-width:551px){
.footer_article, .footer_info {
  min-width: 530px;

}
}

@media (max-width:550px){
  .footer_article, .footer_info {
    min-width: 95%;
  }
  .footer_copy span {
    text-align: center;
  }
}

.footer_description {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  line-height: 25px;
  text-align: justify;
  
}

.footer_info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media (max-width: 1076px) {
  .footer_info {
    flex-direction: column;
  }
  .footer_info section {
    margin: 0 0 10% 0;
  }
  .footer_copy .copy {
    flex-direction: column;
    align-items: center;
    line-height: 35px;
  }
}


.footer_info section {
  gap: 20px;
}
.footer_info h6{
  min-width: 100%;
  color: black;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
}

.footer_info ul {
  display: flex;
  flex-direction: column;
  line-height: 30px;
}

.footer_info li {
  list-style-type: none;
  font-family: "DM Sans", sans-serif;
}
.footer_info a {
  color: var(--rtc-grey);
  text-decoration: none;

}
.footer_copy {
  height: 20%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 0.5px solid var(--rtc-secondary-color-decoration);
}

.footer_copy .copy {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1.3% 0 1.3% 0;
}

.footer_copy span {
  font-family: "DM Sans", sans-serif;
}




